<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LLXiaChuFangRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BAA558B1CB69E530062DF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAA55A41CB69E530062DF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAA55AF1CB69E530062DF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
